# Gauge - metadata dir
.gauge

# Gauge - log files dir
logs

# Gauge - reports dir
reports

# Gauge - python compiled files
*.pyc

# Certificates
certificates/**/*.pem
certificates/**/*.key
certificates/**/*.crt 

# Data files
*.json
*.zip
